@font-face {
  font-family: "OratorStd";
  src: url("../fonts/OratorStd/OratorStd.eot"),
    url("../fonts/OratorStd/OratorStd.woff") format("woff"),
    url("../fonts/OratorStd/OratorStd.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
}

h1,
h2 {
  font-family: "OratorStd";
}

.text-primary-dark {
  color: $primary-dark;
}

.bg-primary {
  background: $primary !important;
}

.bg-secondary {
  background: $secondary !important;
}

.bg-tertiary {
  background: $tertiary;
}

.bg-quarterly {
  background: $quarterly;
}

.btn-primary,
.btn-primary:not(:disabled) {
  background-color: $primary;
  border-color: $primary;
  color: $secondary !important;
  transition: all 0.2s;
  opacity: 1 !important;

  &:hover,
  &:disabled {
    background-color: $primary;
    border-color: $primary;
    opacity: 0.7 !important;
  }
}

a {
  color: $secondary;
}

/* Router Transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
